.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
docker/elasticsearch/data/
docker/elasticsearch/logs/
docker/mysql/
docker/redis/
docker/nginx/log/

